NODE_ENV=development
PORT=4000
# MONGODB_URI=mongodb://127.0.0.1:27017/standarfood_pos
MONGODB_URI=mongodb+srv://thongdam2030_db_user:TbVuHUbgMl15o97J@cluster0.imlyevl.mongodb.net/standarfood_pos?retryWrites=true&w=majority    
CORS_ORIGIN=http://localhost:5173,https://standarfood.soudev.site
JWT_SECRET=change-this-secret
JWT_EXPIRES_IN=7d
DEFAULT_OWNER_NAME=Store Owner
DEFAULT_OWNER_USERNAME=owner
DEFAULT_OWNER_PASSWORD=owner12345
